@import "tailwindcss";
@import "./styles/colors.css";

/* === Base Reset === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === Global Typography & Colors === */
:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === Body Defaults === */
body {
  min-height: 100vh;
}

/* === Link Defaults === */
a {
  color: inherit;
  text-decoration: none;
}

/* === Tailwind classes not working === */
/* Margin Utilities */
.ml-20 {
  margin-left: 5rem;
}

.ml-64 {
  margin-left: 16rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-03 {
  margin-left: 0.3rem;
}

.ml-0 {
  margin-left: 0;
}

/* Padding Utilities */
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-4 {
  padding: 1rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-2 {
  padding: 0.5rem;
}
